<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
  </head>
  <body>
    <div class="section" id="app">
      <form class="form" v-on:submit.prevent>
        <div class="field">
          <label class="label">username</label>
        <input class="input" id="username" type="text" 
                v-model="username" 
                v-bind:class="{'is-danger':usernameError}">
            <!--<div class="has-text-danger"v-if="usernameError">{{usernameErrorMessage}}</div>-->
            <ul>
              <li v-for="error in usernameErrorMessage">{{error.msg}.toString()}</li>
              <!--<span>{{error.date}.toString()}</span> -->
            </ul>
        </div>        
       
       <div class="field">
         <label class="label">password</label>
          <input class="input" id="password" type="text" 
                  v-model="password" 
                  v-bind:class="{'is-danger':passwordError}">
          <div class="has-text-danger"
               v-if="passwordError">{{passwordErrorMessage}}</div>
       </div>
        <div class="field">
            <button class="button is-primary" 
            type="submit " v-on:click="login">Login</button>
        </div>        
      </form>
    </div>   
  </body>
  <script src="script.js"></script>
</html>
