<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="section" id="app">
      <form class="form" v-on:submit.prevent>
        <div class="field">
            <input class="input" id="username" type="text" v-model="username">
        </div>
       <div class="field">
          <input class="input" id="password" type="text" v-model="password">
       </div>
        <div class="field">
            <button class="button" type="submit" v-on:click="login">Login</button>
        </div>
        
      </form>
    </div>
    
  </body>
</html>
